Django==1.8.3
PyJWT==1.4.0
amqp==1.4.6
anyjson==0.3.3
beautifulsoup4==4.4.0
billiard==3.3.0.20
celery==3.1.18
click==4.1
dj-database-url==0.3.0
dj-static==0.0.6
django-background-task==0.1.8
django-toolbelt==0.0.1
gunicorn==19.3.0
kombu==3.0.26
oauthlib==1.0.0
psycopg2==2.6.1
python-openid==2.2.5
python-social-auth==0.2.12
pytz==2015.4
redis==2.10.3
requests==2.7.0
requests-oauthlib==0.5.0
rq==0.5.4
six==1.9.0
static3==0.6.1
wsgiref==0.1.2
