
{% extends 'base.html' %} 

{% block content %}
 <script >
 $(document).ready(function(){
     $( "#from" ).datepicker();
      $( "#till" ).datepicker();

      $('#scrapMails').click(function() {

        var from_date = $( "#from" ).datepicker( "getDate" );
        var till_date = $( "#till" ).datepicker( "getDate" );

        if(from_date == null || till_date == null)
        {
          alert("Please select dates");
          return;
        }

        var from_month = from_date.getMonth() + 1;
        var to_month = till_date.getMonth() + 1 ;

        var from = from_date.getFullYear()+'/'+ from_month + '/'+ from_date.getDate();
        var end = till_date.getFullYear()+'/'+ to_month + '/' + till_date.getDate();
        alert("Scraping has started in background.")
       /* $.get(
            "/sync",
            {from : from, end : end},
            function(data) {
              console.log('done');
             //  alert('page content: ' + data);
          {}
        );*/

        $.ajax({
            url: "/sync?from="+from+"&end="+end,
            type: "GET",
            dataType: 'json',
            xhrFields: {
                 withCredentials: true
            } 
        });

        setTimeout(function() { location.reload() },3000);


      });

    });

  

  </script>
<!--  '''
  $(function() {
  });
''' -->


   <div class="container">

          {% if  user and not user.is_anonymous %}
          <ol class="breadcrumb">
          <form class="form-inline">
  <div class="form-group">
    <input type="text" class="form-control" id="from" placeholder="Start Date">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Till </label>
    <input type="text" class="form-control" id="till" placeholder="End Date">
  </div>

  <a  id="scrapMails" class="btn btn-default"> <span class="glyphicon glyphicon-scissors"  aria-hidden="true"> </span> Scrap Emails</a>
  <a  style="float:right" href="{% url 'social:begin' 'soundcloud' %}?next={{ request.path }}" class="btn btn-default"> <span class="glyphicon glyphicon-music"  aria-hidden="true"> </span> Integrate SoundCloud</a>

  <br/>
</form>
</ol>

  {% endif %}
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron" id="tracks">
      <p> This app is under testing. Database resets will happen </p>
        {% if user and not user.is_anonymous %}
     <div class="container">
      <!-- Example row of columns -->
      <div class="row">

      {% for track in tracks %}

        <div class="col-md-6">
        <a href="{{track.link}}"> {{track.title}} </a>
        <br/>
        <button type="button" id="like" class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
        </button>
           <button type="button" id="like" class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
        </button>
         
        <!--
          <p><img src="{{track.thumbnail}}"  class="img-thumbnail"></p>
          <span> {{track.title}} </span>

          {% if track.track_type == "soundcloud" %}
          <p> <a class="btn btn-danger" href="{{track.link}}" role="button">Listen Audio</a>
          {% else %}
          <p> <a class="btn btn-danger" href="{{track.link}}" role="button">Watch Video</a>
          {% endif %}
          <p><a class="btn btn-default" href="{{track.author_link}}" role="button">{{track.author}}</a></p>
          -->
        </div>
   

      {% empty %}

      <!-- Nothing -->

      {% endfor %}

          </div>
      </div>




            <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>

     	   {% else %}

        <p class="lead"> Start by connecting your gmail account</p>
        <p>
          <a class="btn btn-lg btn-primary" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>
        </p>
           {% endif %}

      </div>

    </div> <!-- /container -->

{% endblock %}